# Assignment 13

Question 1:Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.

In [2]:
def remove_letters(a,b):
    l = []
    for i in a:
        if i not in b:
            l.append(i)
    return l
m = ["b","b","l","l","g","n","o","a","w"]
n = input()
remove_letters(m,n)

balloon

['g', 'w']

Question 2:A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.

In [7]:
def blocks(n):
    inc = 7
    sum1 = 5
    if n == 0:
        return 0
    
    for i in range(1,n):
        sum1 = sum1 + inc
        inc = inc + 1
    return sum1
a = int(input())
blocks(a)

5

39

Question 3:Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.

In [7]:
def my_sub(x,y):
    
    while (y != 0):
     
        
        borrow = (~x) & y
        x = x ^ y
        y = borrow << 1
     
    return x
x = int(input())
y = int(input())
my_sub(x,y)

16
4

12

Question 4:Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.

In [9]:
def add_bill(a):
    sum1 = 0
    txt = a.split(",")
    for i in txt:
        if "d" in i:
            sum1 = sum1 + int(i[-2: : 1])
    return sum1        
n = input()
add_bill(n)

d20,p30,p10,d50

70

Question 5:Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.

In [11]:
import numpy
def flip_list(a):
    return numpy.transpose(a)
l = [[1,2,3,4]]
flip_list(l)

array([[1],
       [2],
       [3],
       [4]])